@model IEnumerable<MvcEFCore.Models.Produto>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Index</h2>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>@Html.DisplayNameFor(model => model.Nome)</th>
      <th>@Html.DisplayNameFor(model => model.Preco)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach(var item in Model)
    {
      <tr>
        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.Preco)</td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
          <a asp-action="Detail" asp-route-id="@item.Id">Detail</a> |
          <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
      </tr>        
    }
  </tbody>
</table>
